html {
  font-size: calc(60% + 0.8vmin);
}
main {
  max-width: 40rem;
  margin: 0 auto;
}
* {
  font-size: 1rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

.app-container {
  display: flex;
  background-color: #f1c93b;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.button-login {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px solid #1a5d1a; /* Outline color */
  border-radius: 2rem; /* Border radius */
  font-size: 1rem;
  font-weight: 600;
  color: #1a5d1a; /* Text color */
  background-color: transparent;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1c93b;
  padding: 1rem;
  text-align: center;
}

p {
  color: #00000034;
}

.home-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.left-container {
  margin-top: 3rem;
  gap: 1rem;
}

.video-js {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.card-container {
  display: flex;
  max-width: 1200px;
  min-width: 720px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  padding-bottom: 5rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.281);
  color: aliceblue;
  width: 20rem;
  height: auto;
}

.sidebar {
  cursor: pointer;
}
